.header {
  border-bottom: 2px solid #b8834d;
  /* background image from public assts folder */
  background-image: url(../../assets/Navbar_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* /submenu visble on hover parent element menu child element submenu*/

.submenu {
  display: none;
}

.menu:hover .submenu {
  display: block;
}
.accordion-active {
  max-height: max-content;
  padding-top: 16px;
  padding-bottom: 16px;
}
.accordion-inactive {
  max-height: 0px;
}
